/*登录页*/
/*页面顶部*/
header {
  height: 40px;
  line-height: 40px;
  background-color: #FBFCFC;
  border-bottom: 1px solid #EBECEE;
}
header .center {
  width: 80%;
  margin: 0 auto;
}
header .center a {
  color: #3A9DD8;
}
header .center a:hover {
  color: red;
}
header .center .left li {
  float: left;
  list-style: none;
}
header .center .right {
  float: right;
}
header .center .right li {
  float: left;
  list-style: none;
}
.login {
  width: 902px;
  margin: 50px auto;
  height: 500px;
}
.login .center {
  height: 550px;
  width: 100%;
  margin: 0 auto;
}
.login .center .left img {
  width: 440px;
  height: 500px;
}
.login .center .right {
  margin: 90px 0 0 100px;
  display: inline-block;
}
.login .center .right .topics b {
  color: #0094E8;
  font-size: 20px;
}
.login .center .right .topics span {
  color: #0094E8;
  margin-left: 60px;
  margin-right: 20px;
}
.login .center .right .form {
  width: 300px;
  height: 200px;
}
.login .center .right .form .form-group {
  margin-top: 30px;
}
.login .center .right .form .form-group .input-group {
  margin-bottom: 10px;
}
.login .center .right .form .forget {
  margin-left: 140px;
}
.login .center .right .form .shuru .yanzhengma {
  width: 35%;
  display: inline-block;
}
.login .center .right .form .shuru .tupian {
  display: inline-block;
  margin-left: 10px;
  margin-right: 15px;
}
.login .center .right .form .btn {
  margin-top: 10px;
}
.login .center .right .form .btn a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.login p {
  color: #A1A1A1;
}
