/*注册选择页*/
/*页面顶部*/
header {
  height: 30px;
  line-height: 20px;
  background-color: #FBFCFC;
  border-bottom: 1px solid #EBECEE;
}
header .center {
  width: 80%;
  margin: 0 auto;
}
header .center a {
  color: #3A9DD8;
}
header .center a:hover {
  color: red;
}
header .center .left li {
  float: left;
  list-style: none;
}
header .center .right {
  float: right;
}
header .center .right li {
  float: left;
  list-style: none;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0px;
  clear: both;
  visibility: hidden;
}
.logoTip {
  width: 100%;
  margin: 10px auto;
  height: 100%;
  border-bottom: 2px solid #5C9DE9;
}
.logoTip .logo {
  width: 80%;
  margin: 0 auto;
  height: 80px;
}
.login {
  width: 902px;
  margin: 50px auto;
  height: 100%;
}
.login .center {
  height: 550px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.login .center .left {
  border: 1px solid #E8E8E8;
  height: 70%;
  flex: 1;
  margin-right: 10px;
}
.login .center .left p {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #F47A00;
  color: #fff;
  font-size: 22px;
}
.login .center .left .should {
  margin-left: 3%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}
.login .center .left ul {
  padding: 0% 5% 5% 5%;
}
.login .center .left ul li {
  height: 40px;
  line-height: 40px;
  list-style: none;
  color: #909090;
}
.login .center .left .btn {
  margin-left: 30%;
}
.login .center .left .btn a {
  text-decoration: none;
  color: #fff;
}
.login .center .right {
  border: 1px solid #E8E8E8;
  height: 70%;
  flex: 1;
}
.login .center .right p {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #59A3EB;
  color: #fff;
  font-size: 22px;
}
.login .center .right .should {
  margin-left: 3%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}
.login .center .right ul {
  padding: 0% 5% 5% 5%;
}
.login .center .right ul li {
  height: 40px;
  line-height: 40px;
  list-style: none;
  color: #909090;
}
.login .center .right .btn {
  margin-left: 30%;
}
.login .center .right .btn a {
  text-decoration: none;
  color: #fff;
}
.login p {
  color: #909090;
}
