/*注册选择页*/

@color1: #0094E8; //页面主色调

/*页面顶部*/

header {
    height: 30px; // border-bottom: 1px solid #ccc;
    line-height: 20px;
    background-color: #FBFCFC;
    border-bottom: 1px solid #EBECEE;
    .center {
        width: 80%;
        margin: 0 auto;
        a {
            color: #3A9DD8;
        }
        a:hover {
            color: red;
        }
        .left {
            li {
                float: left;
                list-style: none;
            }
        }
        .right {
            float: right;
            li {
                float: left;
                list-style: none;
            }
        }
    }
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    line-height: 0px;
    clear: both;
    visibility: hidden;
}

//logo 区
.logoTip {
    width: 100%;
    margin: 10px auto;
    height: 100%;
    border-bottom: 2px solid #5C9DE9;
    .logo {
        width: 80%;
        margin: 0 auto;
        height: 80px;
    }
}

.login {
    width: 902px;
    margin: 50px auto;
    height: 100%;
    .center {
        height: 550px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        .left {
            border: 1px solid #E8E8E8;
            height: 70%;
            flex: 1;
            margin-right: 10px;
            p {
                height: 50px;
                line-height: 50px;
                text-align: center;
                background-color: #F47A00;
                color: #fff;
                font-size: 22px;
            }
            .should {
                margin-left: 3%;
                height: 50px;
                line-height: 50px;
                font-size: 16px;
            }
            ul {
                padding: 0% 5% 5% 5%;
                li {
                    height: 40px;
                    line-height: 40px;
                    list-style: none;
                    color: #909090;
                }
            }
            .btn {
                margin-left: 30%;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .right {
            border: 1px solid #E8E8E8;
            height: 70%;
            flex: 1;
            p {
                height: 50px;
                line-height: 50px;
                text-align: center;
                background-color: #59A3EB;
                color: #fff;
                font-size: 22px;
            }
            .should {
                margin-left: 3%;
                height: 50px;
                line-height: 50px;
                font-size: 16px;
            }
            ul {
                padding: 0% 5% 5% 5%;
                li {
                    height: 40px;
                    line-height: 40px;
                    list-style: none;
                    color: #909090;
                }
            }
            .btn {
                margin-left: 30%;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
    p {
        color: #909090;
    }
}