/*页面顶部*/
header {
  height: 40px;
  line-height: 40px;
  background-color: #7fbef5;
}
header .center {
  width: 80%;
  margin: 0 auto;
}
header .center a {
  color: #fff;
}
header .center a:hover {
  color: #fff;
}
header .center .left {
  line-height: 40px;
  font-size: 14px;
}
header .center .left li {
  float: left;
}
header .center .right {
  line-height: 40px;
  font-size: 14px;
}
header .center .right li {
  float: left;
}
nav {
  height: 60px;
  margin: 20px 0;
}
nav .top {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
nav .top .top_right li {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  height: 42px;
}
nav .top .top_right li input,
nav .top .top_right li select {
  height: 39px;
  float: left;
  border-bottom: 1px solid #0094E8;
}
nav .top .top_right li input {
  width: 300px;
  text-indent: 5px;
}
nav .top .top_right li select {
  background-color: #F2FBFF;
}
nav .top .top_right li button {
  height: 39px;
  float: left;
  width: 80px;
  background-color: #0094E8;
  border: none;
  color: #fff;
  font-size: 16px;
}
nav .top .top_right li:nth-child(1) {
  border: 2px solid #0094E8;
}
.topics {
  background-color: #0094E8;
  margin-top: 30px;
}
.topics .topics_nav {
  width: 80%;
  margin: 0 auto;
}
.topics .topics_nav ul {
  display: flex;
}
.topics .topics_nav ul li {
  float: left;
  line-height: 40px;
  flex: 1;
  text-align: center;
}
.topics .topics_nav ul li a {
  height: 40px;
  display: inline-block;
  color: #fff;
  width: 100%;
  text-decoration: none;
}
.topics .topics_nav ul li a:hover,
.topics .topics_nav ul li a:active {
  text-decoration: none;
  background-color: #0081CA;
}
.topics .topics_nav ul li .active {
  background-color: #0081CA;
}
/*更多景区*/
.special {
  margin-top: 10px;
}
.special .special_top3 {
  width: 80%;
  margin: 0 auto;
  padding: 0 1% 0 1%;
}
.special .special_top3 p span {
  color: red;
}
.special .special_top3 h3 {
  margin: 1% 0 0 0;
  color: #000;
  font-size: 2rem;
}
/*景区价格*/
.special .special_top2 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  /*产品详情图片*/
}
.special .special_top2 .order_right {
  flex: 1;
  padding: 1%;
}
.special .special_top2 .order_right .price_top {
  margin-bottom: 5px;
}
.special .special_top2 .order_right .price_top h3,
.special .special_top2 .order_right .price_top h4 {
  margin-top: 4%;
}
.special .special_top2 .order_right .price_top em,
.special .special_top2 .order_right .price_top del {
  color: #929190;
}
.special .special_top2 .order_right .price_top > span,
.special .special_top2 .order_right .price_top .yell {
  color: #F36B1E;
  font-size: 35px;
}
.special .special_top2 .order_right .price_top .yuan {
  margin: 5% 0;
}
.special .special_top2 .order_right .price_bottom {
  border-radius: 5px;
  /*提交订单*/
}
.special .special_top2 .order_right .price_bottom .spinner {
  display: inline-block;
}
.special .special_top2 .order_right .price_bottom em {
  color: #929190;
}
.special .special_top2 .order_right .price_bottom .people {
  margin: 6% 0;
}
.special .special_top2 .order_right .price_bottom .once {
  display: inline-block;
}
.special .special_top2 .order_right .price_bottom .tijiaoOrder input {
  border: 1px solid #ccc;
}
.special .special_top2 .order_right .price_bottom .modal-footer {
  text-align: center;
}
.special .special_top2 .order_right .price_bottom .agree {
  border-radius: 5px;
  border: 1px solid #5EB7FF;
  display: inline-block;
  text-align: center;
  margin-right: 10%;
}
.special .special_top2 .order_right .price_bottom .agree .custom {
  background-color: #5EB7FF;
  color: #fff;
  line-height: 40px;
}
.special .special_top2 .order_right .price_bottom .agree .custom h1 {
  line-height: 45px;
  font-size: 30px;
  color: #F36B1E;
  background-color: #fff;
}
.special .special_top2 .order_right .price_bottom .agree .custom p {
  border-top: 1px solid #5EB7FF;
  line-height: 30px;
  color: #ccc;
  background-color: #fff;
}
.special .special_top2 #magnifier {
  position: relative;
  width: 100%;
  flex: 1;
  padding: 1%;
}
.special .special_top2 .small-box {
  width: 100%;
}
.special .special_top2 .small-box img {
  width: 100%;
  height: 80%;
  border-radius: 13px;
}
.special .special_top2 .thumbnail-box {
  position: relative;
  width: 100%;
  flex: 1;
}
.special .special_top2 .thumbnail-box .btn {
  position: absolute;
  top: 50%;
  width: 22px;
  height: 32px;
  margin-top: -16px;
}
.special .special_top2 .thumbnail-box .btn-prev {
  left: 0;
  background: url('../imgs/btn_prev.png') no-repeat;
}
.special .special_top2 .thumbnail-box .btn-next {
  right: 0;
  background: url('../imgs/btn_next.png') no-repeat;
}
.special .special_top2 .thumbnail-box .list {
  overflow: hidden;
  width: 390px;
  margin: 0 auto;
}
.special .special_top2 .thumbnail-box .wrapper {
  width: 100000px;
}
.special .special_top2 .thumbnail-box .wrapper img {
  width: 58px;
  height: 45px;
}
.special .special_top2 .thumbnail-box .list .item {
  float: left;
  margin: 0 10px;
}
.special .special_top2 .thumbnail-box .list .item img {
  border: 2px solid #fff;
}
.special .special_top2 .thumbnail-box .list .item-cur img {
  border: 2px solid #e53e41;
}
.name {
  color: red;
}
.custom {
  width: 150px !important;
  height: 150px !important;
  background-size: 100%;
}
/*推荐理由*/
.special .special_top4 {
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  padding: 1%;
  background-color: #fff;
}
.special .special_top4 i,
.special .special_top4 span {
  color: #5DBAFC;
  font-size: 20px;
}
.special .special_top4 .excuse {
  line-height: 40px;
  border-top: 1px solid #5DBAFC;
  margin-top: 5px;
}
.special .special_top4 .excuse li {
  padding: 0 2%;
  line-height: 40px;
  color: rgba(126, 113, 113, 0.678);
}
.special .special_top4 .flow {
  display: flex;
  border-top: 1px solid #5DBAFC;
  margin-top: 5px;
}
.special .special_top4 .flow li {
  flex: 1;
  color: rgba(126, 113, 113, 0.678);
}
.special .special_top4 .flow li .flow_top {
  width: 60px;
  height: 60px;
  border: 2px solid #5DBAFC;
  border-radius: 50%;
  line-height: 60px;
  margin: 10px auto;
  text-align: center;
}
.special .special_top4 .flow li .flow_top i {
  color: red;
}
.special .special_top4 .flow li .product {
  text-align: center;
  margin-top: 5%;
}
.special .special_top4 .flow li p {
  margin: 5% 10% 0 10%;
  line-height: 30px;
}
.special .special_top4 .views {
  border-top: 1px solid #5DBAFC;
  margin-top: 5px;
}
.special .special_top4 .views li {
  padding: 0 2%;
  line-height: 40px;
  color: rgba(126, 113, 113, 0.678);
}
/*底部*/
footer {
  background-color: #0094E8;
  margin-top: 120px;
}
footer .footer_center {
  margin: 0 auto;
  height: 100px;
}
footer .footer_center h5 {
  text-align: center;
  line-height: 100px;
  color: #fff;
}
.ht-rili-td:hover {
  background-color: #e0dcdc;
}
