/*页面顶部*/
header {
  height: 40px;
  line-height: 40px;
  background-color: #7fbef5;
}
header .center {
  width: 80%;
  margin: 0 auto;
}
header .center a {
  color: #fff;
}
header .center a:hover {
  color: red;
}
header .center .left li {
  float: left;
}
header .center .right li {
  float: left;
}
nav {
  height: 60px;
  margin: 20px 0;
}
nav .top {
  width: 80%;
  margin: 0 auto;
}
nav .top .top_right li {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  height: 42px;
}
nav .top .top_right li input,
nav .top .top_right li select {
  height: 39px;
  float: left;
  border-bottom: 1px solid #0094E8;
}
nav .top .top_right li input {
  width: 300px;
  text-indent: 5px;
}
nav .top .top_right li select {
  background-color: #F2FBFF;
}
nav .top .top_right li button {
  height: 39px;
  float: left;
  width: 80px;
  background-color: #0094E8;
  border: none;
  color: #fff;
  font-size: 16px;
}
nav .top .top_right li:nth-child(1) {
  border: 2px solid #0094E8;
}
.topics {
  background-color: #0094E8;
}
.topics .topics_nav {
  width: 80%;
  margin: 0 auto;
}
.topics .topics_nav ul {
  display: flex;
}
.topics .topics_nav ul li {
  float: left;
  line-height: 40px;
  flex: 1;
  text-align: center;
}
.topics .topics_nav ul li a {
  height: 40px;
  display: inline-block;
  color: #fff;
  width: 100%;
  text-decoration: none;
}
.topics .topics_nav ul li a:hover,
.topics .topics_nav ul li a:active {
  text-decoration: none;
  background-color: #0081CA;
}
.topics .topics_nav ul li .active {
  background-color: #0081CA;
}
/*景区详情*/
.special {
  margin-top: 20px;
}
.special .special_top2 {
  width: 80%;
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
}
.special .special_top2 .order_right {
  flex: 1;
  border: 1px #000 solid;
}
.special .special_top2 #magnifier {
  position: relative;
  width: 100%;
  flex: 1;
  padding: 1%;
}
.special .special_top2 .small-box {
  width: 100%;
  margin-bottom: 20px;
}
.special .special_top2 .small-box img {
  width: 100%;
  height: 80%;
  border-radius: 13px;
}
.special .special_top2 .thumbnail-box {
  position: relative;
  width: 100%;
  flex: 1;
}
.special .special_top2 .thumbnail-box .btn {
  position: absolute;
  top: 50%;
  width: 22px;
  height: 32px;
  margin-top: -16px;
}
.special .special_top2 .thumbnail-box .btn-prev {
  left: 0;
  background: url('../imgs/btn_prev.png') no-repeat;
}
.special .special_top2 .thumbnail-box .btn-next {
  right: 0;
  background: url('../imgs/btn_next.png') no-repeat;
}
.special .special_top2 .thumbnail-box .list {
  overflow: hidden;
  width: 390px;
  margin: 0 auto;
}
.special .special_top2 .thumbnail-box .wrapper {
  width: 100000px;
}
.special .special_top2 .thumbnail-box .wrapper img {
  width: 58px;
  height: 45px;
}
.special .special_top2 .thumbnail-box .list .item {
  float: left;
  margin: 0 10px;
}
.special .special_top2 .thumbnail-box .list .item img {
  border: 2px solid #fff;
}
.special .special_top2 .thumbnail-box .list .item-cur img {
  border: 2px solid #e53e41;
}
/*底部*/
footer {
  background-color: #0094E8;
  margin-top: 120px;
}
footer .footer_center {
  margin: 0 auto;
  height: 100px;
}
footer .footer_center h5 {
  text-align: center;
  line-height: 100px;
  color: #fff;
}
