/*企业分销商注册*/


/*页面顶部*/

header {
    height: 30px; // border-bottom: 1px solid #ccc;
    line-height: 20px;
    background-color: #FBFCFC;
    border-bottom: 1px solid #EBECEE;
    .center {
        width: 80%;
        margin: 0 auto;
        a {
            color: #3A9DD8;
        }
        a:hover {
            color: red;
        }
        .left {
            li {
                float: left;
                list-style: none;
            }
        }
        .right {
            float: right;
            li {
                float: left;
                list-style: none;
            }
        }
    }
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    line-height: 0px;
    clear: both;
    visibility: hidden;
}

//logo 区
.logoTip {
    width: 100%;
    margin:10px 0px auto;
    height: 100%;
    border-bottom: 2px solid #5C9DE9;
    .logo {
        width: 80%;
        margin: 0 auto;
        height: 80px;
    }
}

//分销商注册
.login {
    width: 100%;
    margin: 0px auto;
    height: 100%;
    b{
        color: red;
    }
    .center {
        width: 60%;
        margin: 10px auto;
        h4 {
            color: rgb(80, 74, 74);
            span {
                text-align: right;
                float: right;
                font-size: 14px;
            }
        }
        .form-horizontal {}
        #tijiao {
            text-decoration: none;
            display: inline-block;
            width: 120px;
            height: 40px;
            background-color: rgb(150, 128, 58);
            text-align: center;
            line-height: 40px;
            color: #fff;
            font-size: 16px;
            border-radius: 8px;
        }
        #tijiao:hover {
            text-decoration: none;
            display: inline-block;
            width: 120px;
            height: 40px;
            background-color: rgb(58, 150, 58);
            text-align: center;
            line-height: 40px;
            color: #fff;
            font-size: 16px;
            border-radius: 8px;
        }
    }
}