/*个人分销商注册*/
/*页面顶部*/
header {
  height: 30px;
  line-height: 20px;
  background-color: #FBFCFC;
  border-bottom: 1px solid #EBECEE;
}
header .center {
  width: 80%;
  margin: 0 auto;
}
header .center a {
  color: #3A9DD8;
}
header .center a:hover {
  color: red;
}
header .center .left li {
  float: left;
  list-style: none;
}
header .center .right {
  float: right;
}
header .center .right li {
  float: left;
  list-style: none;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0px;
  clear: both;
  visibility: hidden;
}
.logoTip {
  width: 100%;
  margin: 10px 0px auto;
  height: 100%;
  border-bottom: 2px solid #5C9DE9;
}
.logoTip .logo {
  width: 80%;
  margin: 0 auto;
  height: 80px;
}
.login {
  width: 100%;
  margin: 0px auto;
  height: 100%;
}
.login b {
  color: red;
}
.login .center {
  width: 60%;
  margin: 10px auto;
}
.login .center h4 {
  color: #504a4a;
}
.login .center h4 span {
  text-align: right;
  float: right;
  font-size: 14px;
}
.login .center #tijiao {
  text-decoration: none;
  display: inline-block;
  width: 120px;
  height: 40px;
  background-color: #96803a;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
}
.login .center #tijiao:hover {
  text-decoration: none;
  display: inline-block;
  width: 120px;
  height: 40px;
  background-color: #3a963a;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
}
