.login {
  width: 902px;
  margin: 50px auto;
  height: 100%;
}
.login .center {
  height: 550px;
  width: 100%;
  margin: 0 auto;
}
.login .center .left {
  border: 1px solid red;
}
.login .center .right {
  border: 1px solid red;
}
